<div class="container">
  <h1 class="text-center fw-bold my-5">We're Hiring - Angular Developer</h1>

  <form #form="ngForm" (ngSubmit)="onSubmit()">
    <section ngModelGroup="personal_information">
      <h2 class="mb-3">Personal Information</h2>
      <div class="row mb-4 gy-4">
        <div class="col-12 col-md-6">
          <div>
            <label for="first_name" class="form-label"
              >First Name <span class="text-danger">*</span></label
            >
            <input
              type="text"
              class="form-control"
              id="first_name"
              placeholder="John"
              required
              ngModel
              name="first_name"
              minlength="3"
              maxlength="20"
              #first_name="ngModel"
            />
          </div>

          @if(first_name?.hasError('required') && (first_name.touched ||
          first_name.dirty)){
          <span class="text-danger d-block my-1">First name is required.</span>
          } @else if(first_name?.hasError('minlength') && first_name.touched){
          <span class="text-danger d-block my-1"
            >Enter at least 3 characters.</span
          >
          }
        </div>

        <div class="col-12 col-md-6">
          <div>
            <label for="last_name" class="form-label"
              >Last Name <span class="text-danger">*</span></label
            >
            <input
              type="text"
              class="form-control"
              id="last_name"
              placeholder="Doe"
              required
              ngModel
              name="last_name"
              minlength="3"
              maxlength="20"
              #last_name="ngModel"
              [ngModelOptions]="{ updateOn: 'blur' }"
            />
          </div>

          @if(last_name?.hasError('required') && (last_name.touched ||
          last_name.dirty)){
          <span class="text-danger d-block my-1">Last name is required.</span>
          } @else if(last_name?.hasError('minlength') && last_name.touched){
          <span class="text-danger d-block my-1"
            >Enter at least 3 characters.</span
          >
          }
        </div>
      </div>

      <section>
        <h3>Email Information</h3>
        <div class="row mb-4 gy-4">
          <div class="col-12 col-md-6">
            <div>
              <label for="email" class="form-label"
                >Email <span class="text-danger">*</span></label
              >
              <input
                type="email"
                class="form-control"
                id="email"
                placeholder="JohnDoe@example.com"
                required
                email
                ngModel
                name="email"
                #email="ngModel"
              />
            </div>

            @if(email?.hasError('required') && (email.touched || email.dirty)){
            <span class="text-danger d-block my-1">Email is required.</span>
            } @else if(email?.hasError('email') && email.touched){
            <span class="text-danger d-block my-1"
              >Enter a valid email address.</span
            >
            }
          </div>

          <div class="col-12 col-md-6">
            <div>
              <label for="confirm_email" class="form-label"
                >Repeat Email <span class="text-danger">*</span></label
              >
              <input
                type="email"
                class="form-control"
                id="confirm_email"
                placeholder="JohnDoe@example.com"
                required
                email
                ngModel
                name="repeat_email"
                [appEmailValidator]="email.value ? email.value : ''"
                #confirm_email="ngModel"
              />

              @if(confirm_email?.hasError('required') && (confirm_email.touched
              || confirm_email.dirty)){
              <span class="text-danger d-block my-1"
                >Email confirmation is required.</span
              >
              } @else if(confirm_email?.hasError('email') &&
              confirm_email.touched){
              <span class="text-danger d-block my-1"
                >Enter a valid email address.</span
              >
              } @else if(confirm_email?.hasError('confirm_email') &&
              confirm_email.touched){
              <span class="text-danger d-block my-1"
                >Both email addresses must be identical.</span
              >
              }
            </div>
          </div>
        </div>
      </section>

      <section class="mb-4">
        <h3>Contact Information</h3>

        <div>
          <label for="mobile_phone" class="form-label"
            >Mobile Phone <span class="text-danger">*</span></label
          >
          <input
            type="tel"
            class="form-control"
            id="mobile_phone"
            name="mobile_phone"
            [(ngModel)]="mobile_number"
            (input)="addDashes()"
            placeholder="XXX-XX-XX-XX"
            pattern="[0-9]{3}-[0-9]{2}-[0-9]{2}-[0-9]{2}"
            required
            maxlength="12"
            #mobile_phone="ngModel"
          />

          @if(mobile_phone?.hasError('required') && (mobile_phone.touched ||
          mobile_phone.dirty)){
          <span class="text-danger d-block my-1"
            >Phone number is required.</span
          >
          } @else if(mobile_phone?.hasError('pattern') && mobile_phone.touched){
          <span class="text-danger d-block my-1"
            >Enter a valid phone number.</span
          >
          }
        </div>
      </section>

      <section>
        <h3>Gender <span class="text-danger">*</span></h3>

        @for(gender_value of genders; track $index){
        <div class="form-check form-check-inline">
          <input
            class="form-check-input"
            type="radio"
            name="gender"
            id="gender_{{ $index }}"
            [value]="gender_value"
            [(ngModel)]="gender"
            required
          />
          <label class="form-check-label" [for]="'gender_' + $index"
            >{{ gender_value }}
          </label>
        </div>
        }
      </section>
    </section>

    <hr class="my-5" />

    <section ngModelGroup="address">
      <h2>Address</h2>
      <div class="row gy-4">
        <div class="col-12 col-md-6">
          <div>
            <label for="address" class="form-label"
              >Address <span class="text-danger">*</span></label
            >
            <input
              type="text"
              class="form-control"
              id="address"
              placeholder="123 Main St"
              ngModel
              name="address"
              required
              minlength="3"
              maxlength="20"
              #address="ngModel"
            />

            @if(address?.hasError('required') && (address.touched ||
            address.dirty)){
            <span class="text-danger d-block my-1">Address is required.</span>
            } @else if(address?.hasError('minlength') && address.touched){
            <span class="text-danger d-block my-1"
              >Enter at least 3 characters.</span
            >
            }
          </div>
        </div>

        <div class="col-12 col-md-6">
          <div>
            <label for="city" class="form-label"
              >City <span class="text-danger">*</span></label
            >
            <input
              type="text"
              class="form-control"
              id="city"
              placeholder="City Name"
              ngModel
              name="city"
              required
              minlength="3"
              maxlength="20"
              #city="ngModel"
            />

            @if(city?.hasError('required') && (city.touched || city.dirty)){
            <span class="text-danger d-block my-1">City is required.</span>
            } @else if(city?.hasError('minlength') && city.touched){
            <span class="text-danger d-block my-1"
              >Enter at least 3 characters.</span
            >
            }
          </div>
        </div>
      </div>
    </section>

    <hr class="my-5" />

    <section ngModelGroup="education">
      <h2 class="mb-3">Education</h2>

      <div class="form-check mb-3">
        <input
          class="form-check-input"
          type="checkbox"
          id="noEducation"
          name="noEducation"
          [(ngModel)]="uneducated"
          (change)="changeEducationStatus()"
        />
        <label class="form-check-label" for="noEducation"> No Education </label>
      </div>

      <div class="row gy-4">
        <div class="col-12 col-md-6">
          <div>
            <label for="degree" class="form-label"
              >Degree @if(!uneducated()){
              <span class="text-danger">*</span>
              }</label
            >
            <input
              type="text"
              class="form-control"
              id="degree"
              placeholder="Bachelor of Science in Computer Science"
              name="degree"
              ngModel
              [disabled]="uneducated()"
              [required]="!uneducated()"
              minlength="3"
              maxlength="20"
              #degree="ngModel"
            />

            @if(degree?.hasError('required') && (degree.touched ||
            degree.dirty)){
            <span class="text-danger d-block my-1">Degree is required.</span>
            } @else if(degree?.hasError('minlength') && degree.touched){
            <span class="text-danger d-block my-1"
              >Enter at least 3 characters.</span
            >
            }
          </div>
        </div>

        <div class="col-12 col-md-6">
          <div>
            <label for="institution" class="form-label"
              >Institution @if(!uneducated()){
              <span class="text-danger">*</span>
              }</label
            >
            <input
              type="text"
              class="form-control"
              id="institution"
              placeholder="University of Example"
              name="institution"
              ngModel
              [disabled]="uneducated()"
              [required]="!uneducated()"
              minlength="3"
              maxlength="20"
              #institution="ngModel"
            />
            @if(institution?.hasError('required') && (institution.touched ||
            institution.dirty)){
            <span class="text-danger d-block my-1"
              >Institution is required.</span
            >
            } @else if(institution?.hasError('minlength') &&
            institution.touched){
            <span class="text-danger d-block my-1"
              >Enter at least 3 characters.</span
            >
            }
          </div>
        </div>

        <div class="col-12 col-md-6">
          <div>
            <label for="eduStartDate" class="form-label"
              >Start Date @if(!uneducated()){
              <span class="text-danger">*</span>
              }</label
            >
            <input
              type="date"
              class="form-control"
              id="eduStartDate"
              name="eduStartDate"
              ngModel
              [disabled]="uneducated()"
              [required]="!uneducated()"
              min="1900-01-01"
              #eduStartDate="ngModel"
            />

            @if(eduStartDate?.hasError('required') && (eduStartDate.touched ||
            eduStartDate.dirty)){
            <span class="text-danger d-block my-1"
              >Start date is required.</span
            >
            }
          </div>
        </div>

        <div class="col-12 col-md-6">
          <div>
            <label for="eduEndDate" class="form-label"
              >End Date @if(!uneducated() && !stillLearning()){
              <span class="text-danger">*</span>
              }</label
            >
            <input
              [type]="stillLearning() ? 'text' : 'date'"
              class="form-control"
              id="eduEndDate"
              name="eduEndDate"
              ngModel
              [disabled]="uneducated()"
              [required]="!uneducated() || !stillLearning()"
              [readOnly]="stillLearning()"
              [min]="eduStartDate.value"
              #eduEndDate="ngModel"
            />

            @if(eduEndDate?.hasError('required') && (eduEndDate.touched ||
            eduEndDate.dirty)){
            <span class="text-danger d-block my-1">End date is required.</span>
            }
          </div>
        </div>
      </div>

      <div class="form-check my-4">
        <input
          class="form-check-input"
          type="checkbox"
          id="stillLearning"
          name="stillLearning"
          [(ngModel)]="stillLearning"
          [disabled]="uneducated()"
          (change)="changeStillLearning()"
        />
        <label class="form-check-label" for="stillLearning">
          Still Learning
        </label>
      </div>
    </section>

    <hr class="my-5" />

    <section ngModelGroup="experience">
      <h2 class="mb-3">Experience</h2>

      <div class="form-check mb-3">
        <input
          class="form-check-input"
          type="checkbox"
          id="unemployed"
          [(ngModel)]="unemployed"
          (change)="changeEmploymentStatus()"
          name="employment_status"
        />
        <label class="form-check-label" for="unemployed"> Unemployed </label>
      </div>

      <div class="row gy-4">
        <div class="col-12 col-md-6">
          <div>
            <label for="jobTitle" class="form-label"
              >Job Title @if(!unemployed()){
              <span class="text-danger">*</span>
              }
            </label>
            <input
              type="text"
              class="form-control"
              id="jobTitle"
              placeholder="Software Engineer"
              [disabled]="unemployed()"
              [required]="!unemployed()"
              ngModel
              name="jobTitle"
              #jobTitle="ngModel"
              minlength="3"
              maxlength="20"
            />

            @if(jobTitle?.hasError('required') && (jobTitle.touched ||
            jobTitle.dirty)){
            <span class="text-danger d-block my-1">Job title is required.</span>
            } @else if(jobTitle?.hasError('minlength') && jobTitle.touched){
            <span class="text-danger d-block my-1"
              >Enter at least 3 characters.</span
            >
            }
          </div>
        </div>

        <div class="col-12 col-md-6">
          <div>
            <label for="company" class="form-label"
              >Company @if(!unemployed()){
              <span class="text-danger">*</span>
              }</label
            >
            <input
              type="text"
              class="form-control"
              id="company"
              placeholder="Tech Solutions Inc."
              [disabled]="unemployed()"
              [required]="!unemployed()"
              ngModel
              name="company"
              minlength="3"
              maxlength="20"
              #company="ngModel"
            />

            @if(company?.hasError('required') && (company.touched ||
            company.dirty)){
            <span class="text-danger d-block my-1"
              >Company name is required.</span
            >
            } @else if(company?.hasError('minlength') && company.touched){
            <span class="text-danger d-block my-1"
              >Enter at least 3 characters.</span
            >
            }
          </div>
        </div>

        <div class="col-12 col-md-6">
          <div>
            <label for="startDate" class="form-label"
              >Start Date @if(!unemployed()){
              <span class="text-danger">*</span>
              }</label
            >
            <input
              type="date"
              class="form-control"
              id="startDate"
              [disabled]="unemployed()"
              [required]="!unemployed()"
              ngModel
              name="startDate"
              min="1900-01-01"
              #startDate="ngModel"
            />

            @if(startDate?.hasError('required') && (startDate.touched ||
            startDate.dirty)){
            <span class="text-danger d-block my-1"
              >Start date is required.</span
            >
            }
          </div>
        </div>

        <div class="col-12 col-md-6">
          <div>
            <label for="endDate" class="form-label"
              >End Date @if(!unemployed() && !stillWorking()){
              <span class="text-danger">*</span>
              }</label
            >
            <input
              [type]="stillWorking() ? 'text' : 'date'"
              class="form-control"
              id="endDate"
              ngModel
              name="endDate"
              [disabled]="unemployed()"
              [readonly]="stillWorking()"
              [required]="!unemployed() || !stillWorking()"
              [min]="startDate.value"
              #endDate="ngModel"
            />

            @if(endDate?.hasError('required') && (endDate.touched ||
            endDate.dirty)){
            <span class="text-danger d-block my-1">End date is required.</span>
            }
          </div>
        </div>
      </div>

      <div class="form-check my-4">
        <input
          class="form-check-input"
          type="checkbox"
          id="stillWorking"
          name="stillWorking"
          [disabled]="unemployed()"
          [(ngModel)]="stillWorking"
          (change)="changeStillWorking()"
        />
        <label class="form-check-label" for="stillWorking">
          Still Working
        </label>
      </div>
    </section>

    <hr class="my-5" />

    <section ngModelGroup="profile_links">
      <h2 class="mb-3">Profile Links</h2>
      <div class="row gy-4">
        <div class="col-12 col-md-6">
          <div>
            <label for="linkedin" class="form-label">LinkedIn</label>
            <input
              type="url"
              class="form-control"
              id="linkedin"
              placeholder="https://linkedin.com/in/yourprofile"
              ngModel
              name="linkedin"
              #linkedin="ngModel"
            />
          </div>
        </div>

        <div class="col-12 col-md-6">
          <div>
            <label for="facebook" class="form-label">Facebook</label>
            <input
              type="url"
              class="form-control"
              id="facebook"
              placeholder="https://facebook.com/yourprofile"
              ngModel
              name="facebook"
              #facebook="ngModel"
            />
          </div>
        </div>

        <div class="col-12 col-md-6">
          <div>
            <label for="webpage" class="form-label">Webpage</label>
            <input
              type="url"
              class="form-control"
              id="webpage"
              placeholder="https://yourwebsite.com"
              ngModel
              name="webpage"
              #webpage="ngModel"
            />
          </div>
        </div>

        <div class="col-12 col-md-6">
          <div>
            <label for="twitter" class="form-label">X (Twitter)</label>
            <input
              type="url"
              class="form-control"
              id="twitter"
              placeholder="https://twitter.com/yourprofile"
              ngModel
              name="twitter"
              #twitter="ngModel"
            />
          </div>
        </div>
      </div>
    </section>

    <div class="form-check mt-5 mb-4">
      <input
        type="checkbox"
        class="form-check-input"
        id="agreeTerms"
        [(ngModel)]="agreement"
        name="agreement"
        required
      />
      <label class="form-check-label" for="agreeTerms"
        >I agree to the <a href="#">Terms and Conditions</a></label
      >
    </div>

    <div class="mb-3">
      <button
        type="submit"
        [disabled]="form.invalid"
        class="btn btn-primary w-100"
      >
        Submit
      </button>
    </div>
  </form>
</div>
